/* -----------Button------------- */
.btn {
    border: 3px solid black;
    background-color: #fa7268;
    color: black;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 24px;
    cursor: pointer;
  }
  .create {
    border-color: black;
    text-transform: uppercase;
    color:  white;
  }
  
  .create:hover {
    background-color: #4CAF50;
    color: white;
  }
  .join {
    background: url("img\UI\StartGrouping.png");
    border-color: black;
    text-transform: uppercase;
    color:  white;
  }
  
  .join:hover {
    background-color: #4CAF50;
    color: white;
  }
  .start {
    border-color: black;
    text-transform: uppercase;
    color:  white;
  }
  
  .start:hover {
    background-color: #4CAF50;
    color: white;
  }
  /* -----------text------------- */
  test {
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    color: 	white;
  }
  whitef {
    color: 	white;
  }
  pingen {
    font-weight: normal;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: 	black;
  }
  /* -----------body background------------- */
  body {
    background-color:#fa7268;
  }
   /* ----------- pin input------------- */
   pin {
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: 	black;
  }
  id{
    font-weight: bold;
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    color:  black;
  }
  selectf {
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: 	black;
  }
  room_name {
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: 	black;
  }
  input[type=pin], select {
    width: 100%;
    height: 150%;
    padding: 12px 20px;
    font-size: 24px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }


